body {

    background-color: #f5eaf4;

}

#eaqa {

    width: 20%;
    margin-left: 772px;

}

.livro {

    text-align: center;
    
}

.titulo {
    
    text-align: center;
    margin-left: 20px;
    color: rgb(92, 37, 92);
}

.text {

    text-align: center;
    color: rgb(165, 100, 165);
    width: 20%;
    margin-left: 760px;

}

.s {

    text-align: center;
    margin-left: 20px;
    color: rgb(92, 37, 92);

}